#container{
    display: table; 
    margin-left: auto; 
    margin-right: auto;
    margin-top: 15%;
}
h1{
    color: #102a42;
    Font: 64px Roboto, sans-serif;
    margin: 0px 0px 12px 40px;
}

span{
    color: #222222;
    Font: 75px Open Sans, sans-serif;
    margin:38%;
    
}

.btn{
    color: #222222;
    background-color: rgba(0,0,0,0);
    font: 14px Arial;
    padding: 6px 12px;
    border-radius: 20px;
    margin-top: 10px;
    margin-right: 15px;
}
.btn:hover {
    color: var(--clr-white);
    background: var(--clr-black);
  }